@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');

#typeCheckboxes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    accent-color: #152238;
}

#searchButton {
    margin: 10px;
}

#searchAndLoad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
}

.typeSelector {
    width: 5%;
    height: 5vh;
    margin-right: -1rem;
    cursor: pointer;
}

label {
    cursor: pointer;
}

body {
    background: white;
    padding: 10px;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 10px;
}

.filter>a {
    visibility: hidden;
}

.filter input {
    visibility: hidden;
}

button {
    background-color: #152238;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:disabled {
    background-color: #3c4b63;
    cursor: default;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5rem;
    overflow-y: auto;
    max-height: 18rem;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1c2e4a;
}

/* Search results */
#resultsList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.resultCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    width: 200px;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.thumbnail {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    height: 300%;
    max-height: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.thumbnail img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.3rem;
    cursor: pointer;
}

.resultCardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
    font-family: 'Lato';
    font-style: normal;
    text-align: center;
}

.feedBackButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 0.5rem;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    right: 0;
    bottom: 0;
}

.feedbackButton {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px black;
}

.resultCard:hover .feedBackButtons {
    opacity: 1;
}

.feedbackButton:hover {
    text-shadow: 0 0 20px white;
}

.fa-thumbs-up.clicked {
    color: #50c882;
}

.fa-thumbs-down.clicked {
    color: #635352;
}

#logoutButton {
    margin-left: auto;
}

#searchTab {
    margin-left: auto;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#noResultsMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#noRecommendationsMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loader from https://loading.io/css/ */

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    opacity: 0;
}

.lds-ripple.visible {
    opacity: 1;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #152238;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
}